main{
    display: flex;
    justify-content: center;
    align-items: center;

}
input{
    height: 30px;
    border-radius: 5px;
    margin: 3px;
    background-color: aliceblue;
    
}
form{
    position: relative;
    background-color: #a54334;
    width: 400px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}
label{
    margin: 10px;
    color: white;
}
select{
    height: 30px;
    background-color: whitesmoke;
    color: black;
}
button{
    margin-top: 10px;
}
